/* background colors */
.bg-primary {
    background-color: var(--primary-color);
}
.bg-secondary {
    background-color: var(--secondary-color);
}
.bg-dark {
    background-color: var(--dark-color);
}
.bg-dark-mute {
    background-color: var(--dark-color-mute);
}
.bg-light {
    background-color: var(--light-color);
}

/* TEXT COLORS */
.text-primary {
    color: var(--font-color-primary);
}
.text-secondary {
    color: var(--font-color-secondary);
}
.text-secondary-mute {  
    color: var(--font-color-secondary-mute);
}