

/* Global CSS */
body {
  font-family: Arial, Helvetica, sans-serif;
    max-inline-size: 1440px;
}

:root {
    /* Color Palette */
  --primary-color: #007B67;
  --secondary-color: #247C86;
    --dark-color: #37394B;
    --dark-color-mute: rgba(0, 0, 0, 0.15);
    --light-color:#FFFFFF;
    --light-mute-color: #FCFCFC;
    --lighter-color: #E1E1E2;
    

    /* Font Colors */
  --font-color-primary: #ffffff;
  --font-color-secondary: #1A1A1A;
  --font-color-secondary-mute: rgba(26, 26, 26, 0.7);

}

/* background colors */
.bg-primary {
    background-color: var(--primary-color);
}
.bg-secondary {
    background-color: var(--secondary-color);
}
.bg-dark {
    background-color: var(--dark-color);
}
.bg-dark-mute {
    background-color: var(--dark-color-mute);
}
.bg-light {
    background-color: var(--light-color);
}