

/* Global CSS */
body {
  font-family: Arial, Helvetica, sans-serif;
    max-inline-size: 1440px;
    margin: 0px;
}
img {
    max-width: 100%;
    height: auto;
}

:root {
    /* Color Palette */
  --primary-color: #007B67;
  --secondary-color: #247C86;
    --dark-color-mute: #37394B;
    --dark-color: rgba(0, 0, 0, 0.15);
    --light-color:#FFFFFF;
    --light-mute-color: #FCFCFC;
    --lighter-color: #E1E1E2;
    

    /* Font Colors */
  --font-color-primary: #ffffff;
  --font-color-secondary: #1A1A1A;
  --font-color-secondary-mute: rgba(26, 26, 26, 0.7);

}

*::before,
*::after {
  box-sizing: border-box;
}


/* background colors */
.bg-primary {
    background-color: var(--primary-color);
}
.bg-secondary {
    background-color: var(--secondary-color);
}
.bg-dark {
    background-color: var(--dark-color);
}
.bg-dark-mute {
    background-color: var(--dark-color-mute);
}
.bg-light {
    background-color: var(--light-color);
}

/* TEXT COLORS */
.text-primary {
    color: var(--font-color-primary);
}
.text-secondary {
    color: var(--font-color-secondary);
}
.text-secondary-mute {  
    color: var(--font-color-secondary-mute);
}

/* UTILITIES */
.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row.gap-46 {
    gap: 46px;
}
.row.gap-18 {
    gap: 18px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    cursor: pointer;
    border: none;
    /* padding: 10px 20px; */
    border-radius: 10px;
    font-size: 16px;
    font-style: regular;
    transition: background-color 0.3s ease;
    color: var(--font-color-primary);
}


button.btn-primary:hover {
    background-color: var(--primary-color);
}

button.btn-primary {
    background-color: var(--secondary-color);
    color: var(--font-color-primary);
}


button.btn-dark {
    background-color: var(--dark-color);
    color: var(--font-color-primary);
}

a{
    cursor: pointer;
    text-decoration: none;
}

a.link-light {
    color: var(--light-color);
}
a.link-light:hover {
    text-decoration: underline;
}

a.link-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;
    text-decoration: none;
}

a.link-btn-dark {
    background-color: var(--dark-color);
    padding: 8px 10px;
    box-sizing: border-box;
    color: var(--light-color);
    display: block;
}

.border-rounded {
    border-radius: 8px;
}


.font-small {
    font-size: 14px;
}
.font-medium {
    font-size: 16px;
}


/* CUSTOM */
#top-section {
    padding: 14px 50px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}