:root {
    /* Color Palette */
  --primary-color: #007B67;
  --secondary-color: #247C86;
    --dark-color-mute: #37394B;
    --dark-color: rgba(0, 0, 0, 0.15);
    --light-color:#FFFFFF;
    --light-mute-color: #FCFCFC;
    --lighter-color: #E1E1E2;
    

    /* Font Colors */
  --font-color-primary: #ffffff;
  --font-color-secondary: #1A1A1A;
  --font-color-secondary-mute: rgba(26, 26, 26, 0.7);

}